@{
    ViewData["Title"] = "NetGroup HomeWork";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to Events Page!</h1>
            <p class="lead text-body-secondary">Here you can register to an event on the events page</p>
            <p>
                <a type="btn btn-success" asp-controller="Event" asp-action="Index" class="btn btn-primary my-2">Go to the events list</a>
                <a type="btn btn-success" asp-controller="Login" asp-action="Index" class="btn btn-secondary my-2">Log in to admin's page</a>
            </p>
        </div>
    </div>
</section>
