@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="@Url.Action("Authenticate", "Login")">
    <h1 class="h3 mb-3 fw-normal">Log in</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-2">Log In</button>
</form>
